In [1]:
import pandas as pd
import numpy as np
import string

In [2]:
resident_foreigners_norm = pd.read_table("/home/sara/Documents/Immigration/Shared_statistics/Data_final/resident_foreigners_norm.csv")
provinces = sorted(list(set(resident_foreigners_norm["Province"])))
regions = sorted(list(set(pd.read_table("/home/sara/Documents/Immigration/Shared_statistics/Data_final/regioni.csv")["Regione"])))
zones = sorted(list(set(pd.read_table("/home/sara/Documents/Immigration/Shared_statistics/Data_final/territori.csv")["Zona"])))
years = sorted(list(set(resident_foreigners_norm["Year"])))

basic_info = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/prov_cap_info.csv", header=None, names = ["Province", "Region Code", "Population", "Area", "Density", "Num Municipalities"])

In [3]:
basic_info.head()

      Province Region Code Population      Area  Density  Num Municipalities
0    agrigento         sic    442.049  3.052,59    145.0                  43
1  alessandria         pie    426.658  3.558,83    120.0                 188
2       ancona         mar    474.124  1.963,22    242.0                  47
3        aosta         vda    126.883  3.260,90     39.0                  74
4       arezzo         tos    344.374  3.233,08    107.0                  36

In [4]:
def replace_in_list(list_, olds_, news_):
    for old_, new_ in zip(olds_, news_):
        list_[list_.index(old_)] = new_
    return(list_)

In [5]:
basic_info["Region Code"] = [i.upper() for i in basic_info["Region Code"]]

In [6]:
basic_info["Province"] = [i.title() for i in basic_info["Province"]]
basic_info["Province"] = basic_info["Province"].replace(["Aosta", "Bolzano", "Monza E Della Brianza", "Pesaro E Urbino", "Reggio Calabria", "Reggio Emilia", "Roma Capitale"], ["Valle d'Aosta / Vall√©e d'Aoste", "Bolzano / Bozen", "Monza e della Brianza", "Pesaro e Urbino", "Reggio di Calabria", "Reggio nell'Emilia", "Roma"])

In [7]:
def add_row(df, rows):
    ind = range(len(df), len(df)+len(rows))
    for row, i in zip(rows, ind):
        df.loc[i] = row
    return(df)

In [8]:
# Add manually (from Wikipedia the missing information)
basic_info = add_row(basic_info, [["Medio Campidano", "SAR", "99.422", "1.157,34", 65.52, 28], 
                                  ["Carbonia-Iglesia", "SAR", "127.133", "1.499,71", 84.77, 23], 
                                  ["Olbia-Tempio", "SAR", "160.368", "3.406,18", 48.08, 26], 
                                  ["Oristano", "SAR", "159.474", "2.990,45", 53.33, 87]])

In [9]:
basic_info = basic_info.sort_values(["Province"])

basic_info = basic_info[basic_info["Province"] != "Sud Sardegna"]

basic_info.index = list(range(len(basic_info)))

In [10]:
a = basic_info["Area"][0]
basic_info["Area"] = [float(i.replace(".", "").replace(",", ".")) for i in basic_info["Area"]]
basic_info["Population"] = [float(i.replace(".", "").replace(",", ".")) for i in basic_info["Population"]]

In [11]:
basic_info.head()

        Province Region Code  Population     Area  Density  Num Municipalities
0      Agrigento         SIC    442049.0  3052.59    145.0                  43
1    Alessandria         PIE    426658.0  3558.83    120.0                 188
2         Ancona         MAR    474124.0  1963.22    242.0                  47
3         Arezzo         TOS    344374.0  3233.08    107.0                  36
4  Ascoli Piceno         MAR    209450.0  1228.27    171.0                  33

In [12]:
interest_territories = provinces + regions + zones + ["Italia"]

## Istat Data

In [13]:
def drop_useless(data):
    for c in data.columns:
        if len(list(set(data[c]))) == 1:
            print(c, set(data[c]))
            del data[c]

In [14]:
def divide_table(data, attribute):
    res = [x for _, x in data.groupby(data[attribute])]
    for r in res:
        del r[attribute]
    return res

In [15]:
def filtering(data, attribute, list_values):
    return data[data[attribute].isin(list_values)]

In [16]:
def pivot(data, attibute, value):
    idx = data.columns[(data.columns != attibute) & (data.columns != value)]
    return pd.pivot_table(data, columns=attibute, values = value, index = list(idx))

In [17]:
def re_ordering_df(data):
    return data.reindex_axis(sorted(data.columns), axis=1)

In [18]:
# del a column if more than 1/3 of its values are missing
def del_missing(data):
    threshold = 1/3*len(data)
    for c in data.columns:
        if data[c].isnull().sum() >= threshold:
            print(c)
            del data[c]

### Aspect of daily life - social activities

In [19]:
social_act = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Aspects of daily life/DCCV_AVQ_PERSONE_Data_433028ae-6be5-4ff0-8727-911694df70d2.csv", sep = "\t")

In [20]:
social_act = re_ordering_df(social_act)
drop_useless(social_act)

Classe di et√† {'14 anni e pi√π'}
Condizione e posizione nella professione {'totale'}
Sesso {'totale'}
Titolo di studio {'totale'}

In [21]:
social_act = filtering(social_act, "Territorio", interest_territories)
social_act = filtering(social_act, "Seleziona periodo", years)

In [22]:
set(social_act["Misura"])

{'per 100 persone con le stesse caratteristiche', 'valori in migliaia'}

In [23]:
social_act_same_char, social_act_thousand = divide_table(social_act, "Misura")

social_act_same_char = pivot(social_act_same_char, "Tipo dato", "0  Flags")
social_act_thousand = pivot(social_act_thousand, "Tipo dato", "0  Flags")

In [24]:
print(social_act_same_char.isnull().sum().sum(), social_act_thousand.isnull().sum().sum())

0 0

## IMPORTANT! Example to extract data: a.loc[2001].loc["Abruzzo"]

### Aspect of daily life - Political Information (freq)

In [25]:
political_information = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Aspects of daily life (1)/DCCV_AVQ_PERSONE_Data_e9f78b71-f4aa-4340-828b-9ba102742fab.csv", sep = "\t")

In [26]:
social_act = re_ordering_df(political_information)
drop_useless(political_information)

Sesso {'totale'}
Classe di et√† {'14 anni e pi√π'}
Titolo di studio {'totale'}
Condizione e posizione nella professione {'totale'}

In [27]:
political_information = filtering(political_information, "Territorio", interest_territories)
political_information = filtering(political_information, "Seleziona periodo", years)

In [28]:
set(political_information["Misura"])

{'per 100 persone con le stesse caratteristiche', 'valori in migliaia'}

In [29]:
political_information_same_char, political_information_thousand = divide_table(political_information, "Misura")

political_information_same_char = pivot(political_information_same_char, "Tipo dato", "0  Flags")
political_information_thousand = pivot(political_information_thousand, "Tipo dato", "0  Flags")

In [30]:
print(political_information_same_char.isnull().sum().sum(), political_information_thousand.isnull().sum().sum())

0 0

### Aspect of dayli life - Interpersonal Trust - Trust in general

In [31]:
interpersonal_trust = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Aspects of daily life (2)/DCCV_AVQ_PERSONE_Data_c14d372e-5e78-4511-9263-8d823e25a030.csv", sep = "\t")

In [32]:
interpersonal_trust = re_ordering_df(interpersonal_trust)
drop_useless(interpersonal_trust)

Classe di et√† {'14 anni e pi√π'}
Condizione e posizione nella professione {'totale'}
Sesso {'totale'}
Titolo di studio {'totale'}

In [33]:
interpersonal_trust = filtering(interpersonal_trust, "Territorio", interest_territories)
interpersonal_trust = filtering(interpersonal_trust, "Seleziona periodo", years)

In [34]:
set(interpersonal_trust["Misura"])

{'per 100 persone con le stesse caratteristiche', 'valori in migliaia'}

In [35]:
interpersonal_trust_same_char, interpersonal_trust_thousand = divide_table(interpersonal_trust, "Misura")

interpersonal_trust_same_char = pivot(interpersonal_trust_same_char, "Tipo dato", "0  Flags")
interpersonal_trust_thousand = pivot(interpersonal_trust_thousand, "Tipo dato", "0  Flags")

In [36]:
print(interpersonal_trust_same_char.isnull().sum().sum(), interpersonal_trust_thousand.isnull().sum().sum())

0 0

### Consumption Expenditure (ECoicop)

In [37]:
consumption_expenditure = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Consumption expenditure/DCCV_SPEMEFAM_Data_a2f1960e-bec3-489b-8648-900273d1fc5f.csv", sep = "\t")

In [38]:
consumption_expenditure = re_ordering_df(consumption_expenditure)
drop_useless(consumption_expenditure)

Abitudine di spesa {'tutte le voci'}
Ampiezza familiare {'totale'}
Condizione professionale della persona di riferimento {'tutte le voci'}
Gruppo di spesa {'tutte le voci'}
Quantili di spesa totale equivalente {'tutte le voci'}
Tipo dato {'spesa media mensile familiare (in euro correnti)'}
Tipologia familiare {'totale famiglie'}
Titolo di studio pi√π elevato conseguito dalla persona di riferimento {'totale'}

In [39]:
consumption_expenditure = filtering(consumption_expenditure, "Territorio", interest_territories)
consumption_expenditure = filtering(consumption_expenditure, "Seleziona periodo", years)

In [40]:
consumption_expenditure = pivot(consumption_expenditure, "Coicop", "0  Flags")

In [41]:
del_missing(consumption_expenditure)

### Fertility Indicators

In [42]:
fertility_rate = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Fertility  indicators/DCIS_FECONDITA1_Data_a2326888-5b5c-4549-b696-d187b4055c39.csv", sep = "\t")

In [43]:
fertility_rate = re_ordering_df(fertility_rate)
drop_useless(fertility_rate)

Cittadinanza {'totale'}
Et√† della madre {'totale'}

In [44]:
fertility_rate = filtering(fertility_rate, "Territorio", interest_territories)
fertility_rate = filtering(fertility_rate, "Seleziona periodo", years)
#fertility_rate = filtering(fertility_rate, "Tipo dato", ["tasso di fecondit√† totale"])
#del fertility_rate["Tipo dato"]

In [45]:
fertility_rate = pivot(fertility_rate, "Tipo dato", "0  Flags")

In [46]:
del_missing(fertility_rate)

### Net Income - Homogeneity of regional income

In [47]:
homogeneity_net_income = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Homogeneity of regional income/DCCV_GINIREDD_Data_f031238d-d03b-414a-ad9d-5ea35513cb24.csv", sep = "\t")

In [48]:
homogeneity_net_income = re_ordering_df(homogeneity_net_income)
drop_useless(homogeneity_net_income)

Misura {'indice di gini'}
Tipo dato {'omogeneit√† nella distribuzione del reddito netto familiare'}

In [49]:
homogeneity_net_income = filtering(homogeneity_net_income, "Territorio", interest_territories)
homogeneity_net_income = filtering(homogeneity_net_income, "Seleziona periodo", years)

In [50]:
homogeneity_net_income = pivot(homogeneity_net_income, "Presenza affitti imputati", "0  Flags")

In [51]:
del_missing(homogeneity_net_income)

### Housing costs

In [52]:
housing_costs = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Housing costs/DCCV_ABITSPESA_Data_86e7f7b3-4f27-4d2a-bcda-94af693e24af.csv", sep = "\t")

In [53]:
housing_costs = re_ordering_df(housing_costs)
drop_useless(housing_costs)

Classe di et√† del principale percettore {'totale'}
Condizione professionale prevalente nell anno del principale percettore {'totale'}
Numero di anziani in famiglia {'totale'}
Numero di componenti {'totale'}
Numero di minori in famiglia {'totale'}
Sesso del principale percettore {'totale'}
Tipologia familiare {'totale'}
Titolo di godimento dell abitazione {'totale'}
Titolo di studio del principale percettore {'totale'}

In [54]:
housing_costs = filtering(housing_costs, "Territorio", interest_territories)
housing_costs = filtering(housing_costs, "Seleziona periodo", years)

In [55]:
housing_costs = pivot(housing_costs, "Indicatore di spesa", "0  Flags")

In [56]:
del_missing(housing_costs)

### Live Births

In [57]:
live_births = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Live births/DCIS_NATI1_Data_fc109807-f48b-4e01-b9e7-81fddf031fbb.csv", sep = "\t")

In [58]:
live_births = re_ordering_df(live_births)
drop_useless(live_births)

Anno di nascita della madre {'tutte le voci'}
Area geografica di nascita {'tutte le voci'}
Cittadinanza della madre {'totale'}
Cittadinanza estera del nato {'Mondo'}
Et√† del padre {'totale'}
Et√† della madre {'totale'}
Nati vivi all'interno del matrimonio {'totale'}
Stato civile del padre {'totale'}
Stato civile della madre {'totale'}
Tipologia di coppia dei genitori {'tutte le voci'}

In [59]:
live_births = filtering(live_births, "Territorio di residenza", interest_territories)
live_births = filtering(live_births, "Seleziona periodo", years)

In [60]:
live_births = pivot(live_births, "Tipo dato", "0  Flags")

In [61]:
del_missing(live_births)

### Unemployment

In [62]:
unemployment = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Unemployment/unemployment.csv", sep = "\t")

In [63]:
unemployment = re_ordering_df(unemployment)
drop_useless(unemployment)

Cittadinanza {'totale'}
Classe di et√† {'15 anni e pi√π'}
Condizione professionale {'totale'}
Durata della disoccupazione {'totale'}
Tipo dato {'numero di persone in cerca di occupazione 15 anni e oltre (in migliaia)'}
Titolo di studio {'totale'}

In [64]:
unemployment = filtering(unemployment, "Territorio", interest_territories)
unemployment = filtering(unemployment, "Seleziona periodo", years)

In [65]:
unemployment = pivot(unemployment, "Sesso", "0  Flags")

In [66]:
del_missing(unemployment)

### Hospitalizations

In [75]:
hospitalizations = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Hospitalizations for acute care by nationality with reference to the place of hospitalization/DCIS_OSPSTRA_Data_ea761678-949b-4c00-bfdb-f5d764a92ca8.csv", sep = "\t")

In [76]:
hospitalizations = re_ordering_df(hospitalizations)
drop_useless(hospitalizations)
del hospitalizations["Classe di et√†"]
del hospitalizations["Sesso"]
del hospitalizations["Regime di ricovero"]

Diagnosi principale {'tutte le voci'}
Tipo dato {'dimissioni'}

In [77]:
hospitalizations = filtering(hospitalizations, "Territorio", interest_territories)
hospitalizations = filtering(hospitalizations, "Seleziona periodo", years)

In [78]:
hospitalizations = pivot(hospitalizations, "Aree di cittadinanza e principali paesi", "0  Flags")

In [79]:
del_missing(hospitalizations)

Africa
America
Asia
Oceania

### Aspects of daily life - work degree of satisfaction

In [94]:
work_satisfaction = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Aspects of daily life (3)/DCCV_AVQ_PERSONE_Data_4955ab2a-d94b-4381-ba06-12822e7e57e9.csv", sep = "\t")

In [95]:
work_satisfaction = re_ordering_df(work_satisfaction)
drop_useless(work_satisfaction)

work_satisfaction = filtering(work_satisfaction, "Territorio", interest_territories)
work_satisfaction = filtering(work_satisfaction, "Seleziona periodo", years)

Classe di et√† {'15 anni e pi√π'}
Condizione e posizione nella professione {'totale'}
Sesso {'totale'}
Titolo di studio {'totale'}

In [96]:
work_satisfaction_char, work_satisfaction_thousand = divide_table(work_satisfaction, "Misura")

work_satisfaction_char = pivot(work_satisfaction_char, "Tipo dato", "0  Flags")
work_satisfaction_thousand = pivot(work_satisfaction_thousand, "Tipo dato", "0  Flags")

In [97]:
del_missing(work_satisfaction_char)

In [98]:
del_missing(work_satisfaction_thousand)

### Aspects of daily life - general life degree of satisfaction

In [110]:
life_satisfaction = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Aspects of daily life (4)/DCCV_AVQ_PERSONE_Data_c0f12c95-e56b-4f32-97d9-a30593e8d905.csv", sep="\t")

In [111]:
life_satisfaction = re_ordering_df(life_satisfaction)
drop_useless(life_satisfaction)
del life_satisfaction["Misura"]

life_satisfaction = filtering(life_satisfaction, "Territorio", interest_territories)
life_satisfaction = filtering(life_satisfaction, "Seleziona periodo", years)

Classe di et√† {'14 anni e pi√π'}
Condizione e posizione nella professione {'totale'}
Sesso {'totale'}
Titolo di studio {'totale'}

In [112]:
life_satisfaction = pivot(life_satisfaction, "Tipo dato", "0  Flags")

In [113]:
del_missing(life_satisfaction)

### Difficulty to reach certain services

In [117]:
reach_services_difficulty = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Aspects of daily life - Household/DCCV_AVQ_FAMIGLIE_Data_54bd8c6f-de5a-45e8-bb89-e985841c85ac.csv", sep = "\t")

In [118]:
reach_services_difficulty = re_ordering_df(reach_services_difficulty)
drop_useless(reach_services_difficulty)

reach_services_difficulty = filtering(reach_services_difficulty, "Territorio", interest_territories)
reach_services_difficulty = filtering(reach_services_difficulty, "Seleziona periodo", years)

Numero di componenti della famiglia {'totale'}

In [120]:
reach_services_difficulty_char, reach_services_difficulty_thousand = divide_table(reach_services_difficulty, "Misura")

reach_services_difficulty_char = pivot(reach_services_difficulty_char, "Tipo dato", "0  Flags")
reach_services_difficulty_thousand = pivot(reach_services_difficulty_thousand, "Tipo dato", "0  Flags")

In [125]:
del_missing(reach_services_difficulty_char)
del_missing(reach_services_difficulty_thousand)

Some data are not included due to the availability of data:
- **Basic health care** only 2004-2013
- **Expenditure for intervections and social services** only 2013-2014
- **Expenditure for the house of families with foreign components** only at zones level in 2009

Some data are not included due to statistical problems:
- **Economic situation opinions (Famigie per capacit√† di arrivare a fine mese)**: around 10.4% of data are not statistically significant and 4.6% do not reach the half of the minimun (ISTAT definition: Il dato si definisce poco significativo nel caso in cui corrisponda ad una numerosit√† campionaria compresa tra 20 e 49 unit√†.)

### Internal Migration - Transfer of Residence

In [238]:
internal_migration = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Migration (Transfer of residence)/DCIS_MIGRAZIONI_Data_61410102-5b80-4f23-bbaa-58c89c5b5657.csv")

In [239]:
live_births = re_ordering_df(internal_migration)
drop_useless(internal_migration)

Tipo di indicatore demografico {'trasferimenti di residenza'}
Sesso {'totale'}
Tipo di trasferimento {'tutte le voci'}
Et√† {'totale'}
Stato estero di provenienza {'Mondo'}
Stato estero di  destinazione {'Mondo'}

In [240]:
internal_migration = filtering(internal_migration, "Territorio di origine", interest_territories)
internal_migration = filtering(internal_migration, "Seleziona periodo", years)

In [241]:
internal_migration.head()

,Paese di cittadinanza,Territorio di origine,Seleziona periodo,Territorio di di destinazione,0 Flags
1,Foreign country,Italia,2003,Italia,114609
2,Foreign country,Italia,2004,Italia,161531
3,Foreign country,Italia,2005,Italia,185268
4,Foreign country,Italia,2006,Italia,203859
5,Foreign country,Italia,2007,Italia,203903

In [405]:
set(internal_migration["Paese di cittadinanza"])

{'Foreign country', 'Italia', 'Totale'}

In [242]:
internal_migration_foreign, internal_migration_it, internal_migration_tot = divide_table(internal_migration, "Paese di cittadinanza")

In [408]:
internal_migration_foreign.head()

,Territorio di origine,Seleziona periodo,Territorio di di destinazione,0 Flags
1,Italia,2003,Italia,114609
2,Italia,2004,Italia,161531
3,Italia,2005,Italia,185268
4,Italia,2006,Italia,203859
5,Italia,2007,Italia,203903

In [243]:
internal_migration_foreign = pivot(internal_migration_foreign, "Territorio di origine", "0  Flags")
internal_migration_it = pivot(internal_migration_it, "Territorio di origine", "0  Flags")
internal_migration_tot = pivot(internal_migration_tot, "Territorio di origine", "0  Flags")

In [245]:
del_missing(internal_migration_foreign)
del_missing(internal_migration_it)
del_missing(internal_migration_tot)

Asti
Belluno
Benevento
Biella
Brindisi
Caltanissetta
Campobasso
Carbonia-Iglesias
Crotone
Enna
Gorizia
Imperia
Isernia
La Spezia
Lodi
Massa-Carrara
Matera
Medio Campidano
Nuoro
Ogliastra
Olbia-Tempio
Oristano
Rieti
Sassari
Savona
Siracusa
Sondrio
Trapani
Trieste
Valle d'Aosta / Vall√©e d'Aoste
Verbano-Cusio-Ossola
Vercelli
Vibo Valentia
Medio Campidano
Ogliastra
Medio Campidano
Ogliastra

### Net Income

**Fitti imputati**: Componente figurativa di reddito derivante dalla propriet√† della abitazione in cui si vive, il cui valore √® stimato dallo stesso proprietario in base al prezzo che, a suo parere, sarebbe necessario pagare per vivere in affitto nella propria abitazione.

In [229]:
net_income = pd.read_table("/home/sara/Documents/Immigration/Data_not_git/Prov_info/Net income/DCCV_REDNETFAMFONTERED_Data_3fba0ebc-d3a1-493c-958a-facf3d07dfd7.csv", sep = "\t")

In [230]:
net_income = re_ordering_df(net_income)
drop_useless(net_income)

Classe di et√† del principale percettore {'totale'}
Condizione professionale prevalente nell'anno del principale percettore {'totale'}
Misura {'valori assoluti'}
Numero di anziani in famiglia  {'totale'}
Numero di componenti {'totale'}
Numero di minori in famiglia {'totale'}
Sesso del principale percettore  {'totale'}
Tipologia familiare {'totale'}
Titolo di studio del principale percettore {'totale'}

As "Tipo dato" it is better to keep only the "median" because the "mean" is too much sensible to the outliers. BUT! Let's keep both in different tables!

In [231]:
#net_income = filtering(net_income, "Tipo dato", ["reddito mediano annuale delle famiglie (in euro)"])
#del net_income["Tipo dato"]
net_income = filtering(net_income, "Fonte principale di reddito familiare ", ["totale"])
del net_income["Fonte principale di reddito familiare "]
net_income = filtering(net_income, "Territorio", interest_territories)
net_income = filtering(net_income, "Seleziona periodo", years)

net_income["0  Flags"] = [int(i) for i in net_income["0  Flags"]]

In [232]:
net_income.head()

,0 Flags,Presenza affitti imputati,Seleziona periodo,Territorio,Tipo dato
0,26716,inclusi fitti imputati,2003,Italia,reddito mediano annuale delle famiglie (in euro)
1,27676,inclusi fitti imputati,2004,Italia,reddito mediano annuale delle famiglie (in euro)
2,28167,inclusi fitti imputati,2005,Italia,reddito mediano annuale delle famiglie (in euro)
3,28248,inclusi fitti imputati,2006,Italia,reddito mediano annuale delle famiglie (in euro)
4,29388,inclusi fitti imputati,2007,Italia,reddito mediano annuale delle famiglie (in euro)

In [233]:
set(net_income["Tipo dato"])

{'reddito mediano annuale delle famiglie (in euro)',
 'reddito medio annuale delle famiglie (in euro)'}

In [235]:
net_income_median, net_income_mean = divide_table(net_income, "Tipo dato")

net_income_median = pivot(net_income_median, "Presenza affitti imputati", "0  Flags")
net_income_mean = pivot(net_income_mean, "Presenza affitti imputati", "0  Flags")

In [237]:
del_missing(net_income_mean)
del_missing(net_income_median)