In [1]:
import pysal
import numpy as np
import pandas as pd

In [6]:
w = pysal.lat2W(3, 3)
for a in w:
    print(a)

(0, {3: 1.0, 1: 1.0})
(1, {0: 1.0, 4: 1.0, 2: 1.0})
(2, {1: 1.0, 5: 1.0})
(3, {0: 1.0, 6: 1.0, 4: 1.0})
(4, {1: 1.0, 3: 1.0, 7: 1.0, 5: 1.0})
(5, {2: 1.0, 4: 1.0, 8: 1.0})
(6, {3: 1.0, 7: 1.0})
(7, {4: 1.0, 6: 1.0, 8: 1.0})
(8, {5: 1.0, 7: 1.0})

In [7]:
y = np.arange(9)
y

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [8]:
yl = pysal.lag_spatial(w, y)
yl

array([ 4.,  6.,  6., 10., 16., 14., 10., 18., 12.])

In [9]:
a = pd.read_table("/home/sara/Downloads/API_NY.GDP.PCAP.CD_DS2_en_csv_v2/API_NY.GDP.PCAP.CD_DS2_en_csv_v2.csv", sep = ",", skiprows=4)

In [10]:
a.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24631.434860,24271.940421,25324.720362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,445.893298,553.300289,603.537023,669.009051,638.612543,629.345250,569.577923,561.778746,NaN,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3347.844850,3529.053482,4299.012889,4598.249988,4804.616884,4709.312024,3695.793748,3308.700233,NaN,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4114.136545,4094.358832,4437.178068,4247.614308,4413.081697,4578.666728,3934.895394,4124.982390,NaN,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43339.379875,39736.354063,41098.766942,38391.080867,40619.711298,42294.994727,36038.267604,36988.622030,NaN,NaN

In [14]:
a[(a["Country Code"] == "ROU")]["2016"]

199    9522.771041
Name: 2016, dtype: float64