In [1]:
import numpy as np

In [2]:
w = np.random.rand(3, 3)
# Dot product
np.dot(w, np.linalg.inv(w))
# Transpose of a matrix
w.T
# (Multiplicative) Inverse of a matrix (better!)
np.linalg.inv(w)
#  (Moore-Penrose) Pseudo-Inverse of a matrix
np.linalg.pinv(w)

array([[-2.42365428,  1.60654611,  2.31062115],
       [ 2.34147494,  1.09135551, -2.47156397],
       [ 1.07721937, -2.5289521 ,  0.40745922]])

In [4]:
T = 3
I = 3
r = .3

identity_I = np.identity(I)
identity_I_1 = np.identity(I-1)
neg1 = np.negative(np.ones((I-1, 1)))
# Not-squared matrix
Q = np.append(identity_I_1, neg1, axis=1)

L = Q.dot(np.linalg.inv(I-r*w)).dot(np.linalg.inv(I-r*w.T)).dot(Q.T)
L

array([[511.07591036, 106.25599468],
       [106.25599468, 244.12875293]])

In [5]:
w.T.dot(w)

array([[1.46716294, 1.23101532, 1.28753804],
       [1.23101532, 1.11235845, 1.09311417],
       [1.28753804, 1.09311417, 1.26146965]])

In [6]:
a = w.T
a.dot(w)

array([[1.46716294, 1.23101532, 1.28753804],
       [1.23101532, 1.11235845, 1.09311417],
       [1.28753804, 1.09311417, 1.26146965]])

In [15]:
Q.dot(np.linalg.inv(I-r*w)).dot(np.linalg.inv(I-r*w).T).dot(Q.T)

array([[2040.96323856, 2241.16242678],
       [2241.16242678, 2527.08179582]])

In [16]:
np.linalg.det(L)

134872.02287082712

In [8]:
import pandas as pd
df = pd.DataFrame({'a':['a','b','c'], 'b':np.arange(3)})
df

   a  b
0  a  0
1  b  1
2  c  2

In [9]:
df[df.columns] = np.roll(df, shift=-1, axis=0)
df

   a  b
0  b  1
1  c  2
2  a  0

In [10]:
df = pd.DataFrame({'a':['a','b','c']})
df

   a
0  a
1  b
2  c

In [11]:
df.reindex([1,2,0])

   a
1  b
2  c
0  a

In [ ]:
# initialization of ro
ro = np.random.rand()

# Var definition
I = len(regions_cap)
T = len(years)
W = temp_W

identity_I = np.identity(I)
identity_I_1 = np.identity(I-1)
neg1 = np.negative(np.ones((I-1, 1)))
# Not-squared matrix
Q = np.append(identity_I_1, neg1, axis=1)